* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 2rem;
}

.countdown {
    margin-bottom: 1rem;
}